@import '../../_variables';

.user-auth-container {
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;

    .header-container {
        width: 100%;
        // margin-bottom: 2rem;

        h1 {
            margin: 0;
            font-size: 1.5rem;
        }

        .button-group {
            display: flex;
            gap: 1rem;
        }
    }

    .sign-in-container {
        flex-basis: calc(50% - 1rem);
        display: block;
        // flex-direction: column;
        align-items: left;
        justify-content: left;

    }

    .sign-up-container {
        flex-basis: calc(50% - 1rem);
        display: block;
        // flex-direction: column-reverse;
        align-items: right;
        justify-content: right;
        margin-top: 0;
    }

    .form-group {
        display: flex;
        flex-direction: column;

        label {
            text-align: left;
            margin-bottom: 5px;
            display: block;
            margin: 5px;
            padding: 2px;
        }

        input,
        select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;

            &:focus {
                outline: none;
                border-color: #0076ff;
            }
        }
    }

    #signUpButton,
    #signInButton {
        background-color: $add-save-button-hover;

        &:hover {
            background-color: darken($edit-button-hover, 10%);
        }
    }

    #home-btn {
        background-color: $main-button-color;

        &:hover {
            background-color: darken($button-hover, 10%);
        }
    }
}