#product-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  #product-list-title {
    margin-left: 10px;
  }
  
  #product-list-buttons {
    display: flex;
  }
  
  #add-product-btn {
    margin-right: 10px;
  }
  
#product-list-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .product-item {
    box-sizing: border-box;
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    position: relative;
    background-color: #b6b573;
    border: 2px solid #252323;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .product-checkbox {
    display: flex;
    align-items: center;
  }
  
  .delete-checkbox {
    margin-right: 5px;
  }
  
  .checkbox-label {
    margin-left: 10px;
  }
  
  .product-info {
    margin-top: 10px;
    flex: 1;
  }
  
  .product-sku {
    font-size: 1.3em;
    font-weight: bold;
  }
  
  .product-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .product-price {
    margin-top: 10px;
  }
  
  .product-attribute {
    margin-top: 10px;
  }
  