@import '../../_variables';

#product-list-container {
    background-color: $background-color;
    font-size: $font-size-base;
    padding-bottom: 60px;

    .product-attribute::first-letter {
        text-transform: uppercase;
    }

    #product-list-items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 1em;
    }
    
}

#add-product-btn {
    background-color: $main-button-color;

    &:hover {
        background-color: darken($add-save-button-hover, 10%);
    }
}

#delete-product-btn {
    background-color: $main-button-color;

    &:hover {
        background-color: darken($delete-button-hover, 10%);
    }
}
