@import './_variables.scss';

body {
    background-color: $background-color;
    margin: 0;
    overflow-x: hidden;
    // padding-bottom: 100px;
}

html,
body {
    min-height: 100%;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 1.5em;
}

button {
    font-size: 0.8em;
    padding: 5px 10px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}  

#root {
    margin-top: 0px;
}