@import '../../_variables';

#page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $secondary-color;
    // margin: 0 1em;

    .auth-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        margin-left: 10px;
        color: #333;
      
        &:hover {
          color: #007bff;
        }
      }
}

#page-title {
    font-size: 2rem;
}

// #page-buttons {
//     display: flex;
//     gap: 1em;

//     .button {
//         width: 100px;
//     }
// }